<form *ngIf="createForm" nz-form [formGroup]="createForm" nzLayout="vertical">
  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label for="employeeCode" [nzRequired]="true">Mã nhân viên</nz-form-label>
        <nz-form-control>
          <nz-select
            formControlName="employeeCode"
            [nzOptions]="employeeOptions"
            [nzShowSearch]="true"
            [nzDisabled]="isRenew"
            nzPlaceHolder="Chọn nhân viên"
            style="width: 100%">
          </nz-select>
        </nz-form-control>
      </nz-form-item>

    </div>
    <!-- Mã hợp đồng -->
    <div nz-col [nzSpan]="12">
      <app-input-text-v2 formControlName="contractNumber" [required]="true"
                         label="Số hợp đồng" [nzAllowClear]="true"></app-input-text-v2>
    </div>



  </div>

  <div nz-row [nzGutter]="16">
    <!-- Loại hợp đồng -->
    <div nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label for="contractType" [nzRequired]="true">Loại hợp đồng</nz-form-label>
        <nz-form-control>
          <nz-select
            formControlName="contractType"
            [nzOptions]="contractTypes"
            nzPlaceHolder="Chọn loại hợp đồng"
            [nzAllowClear]="true"
            style="width: 100%">
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <!-- Ngày ký -->
    <div nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label>Ngày ký</nz-form-label>
        <nz-form-control>
          <nz-date-picker formControlName="contractSignDate" nzFormat="dd/MM/yyyy" style="width: 100%"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </div>


  </div>

  <div nz-row [nzGutter]="16">
    <!-- Ngày hiệu lực -->
    <div nz-col [nzSpan]="12">
      <nz-form-item >
        <nz-form-label >Ngày hiệu lực</nz-form-label>
        <nz-form-control>
          <nz-date-picker formControlName="contractEffectiveDate" nzFormat="dd/MM/yyyy" style="width: 100%"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </div>
    <!-- Ngày hết hiệu lực -->
    <div nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label>Ngày hết hiệu lực</nz-form-label>
        <nz-form-control>
          <nz-date-picker formControlName="contractEndDate" nzFormat="dd/MM/yyyy" style="width: 100%"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </div>


  </div>

  <div nz-row [nzGutter]="16">
    <!-- Lương cơ bản -->
    <div nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label>Lương cơ bản</nz-form-label>
        <nz-form-control>
          <nz-input-number formControlName="basicSalary" [nzMin]="0" [nzStep]="100000" style="width: 100%"></nz-input-number>
        </nz-form-control>
      </nz-form-item>
    </div>
    <!-- Lương tham gia BH -->
    <div nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label>Lương tham gia BH</nz-form-label>
        <nz-form-control>
          <nz-input-number formControlName="basicSalaryInsurance" [nzMin]="0" [nzStep]="100000" style="width: 100%"></nz-input-number>
        </nz-form-control>
      </nz-form-item>
    </div>

  </div>
  <!-- File mềm -->
  <div nz-col [nzSpan]="12">
    <nz-form-item>
      <nz-form-label [nzRequired]="true">File mềm</nz-form-label>
      <nz-form-control>
        <nz-upload
          nzName="file"
          [nzListType]="'text'"
          nzAction="/file"
          [nzAccept]="'.docx'"
          [nzLimit]="1"
          (nzChange)="onFileChanged($event)">
          <button nz-button>
            <span nz-icon nzType="upload"></span>
            Chọn file DOCX
          </button>
        </nz-upload>
      </nz-form-control>
    </nz-form-item>
  </div>

  <!-- Footer buttons -->
  <div class="modal__footer-wrapper d-flex justify-content-center mt-4">
    <app-button-cancel [isIcon]="true" (clickCancel)="handleCancelModal()"></app-button-cancel>
    <app-button-save [loading]="isLoading" [isIcon]="true"
                     [text]="isUpdate ? 'Tái ký' : 'Thêm mới'"
                     (clickSave)="handleOkModal()"></app-button-save>
  </div>
</form>
