<div nz-row style="justify-content: center">
  <div nz-col nzSpan="16" style="margin-top: 70px; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; border-radius: 10px;">
    <nz-card nzTitle="CẤP TÀI KHOẢN" style="border-radius: 10px">

      <div class="steps-content">
        <form nz-form [formGroup]="employeeForm" (ngSubmit)="employeeFormSubmit()" nzLayout="vertical">
          <div class="register-form">
            <nz-form-item nz-col nzSpan="24">
              <nz-form-label [nzRequired]="true">Tài khoản (Email)</nz-form-label>
              <nz-form-control>
                <input nz-input formControlName="email" placeholder="Nhập email" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-col nzSpan="24">
              <nz-form-control>
                <app-select [ngClass]="'w-100'" [data]="lstEmployee"
                            [valueField]="'employeeCode'"
                            [required]="true"
                            [labelField]="'employeeName'"
                            [placeHolder]="isView ? '' : 'Chọn tên nhân viên'"
                            [openSearchModal]="false" [getObjectValue]="true"
                            [labelHorizontal]="false" formControlName="employeeCode" labelContent="Nhân viên">
                </app-select>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-row class="register-area">
              <nz-form-control>
                <div class="flex-center">
                  <button nz-button nzType="primary" style="margin-left: 10px"><i style="margin-right: 7px;" class="fa-solid fa-right-to-bracket"></i>Xác nhận</button>
                </div>
              </nz-form-control>
            </nz-form-item>
          </div>
        </form>
      </div>
    </nz-card>
  </div>
</div>
