<dx-form class="plain-styled-form" [screenByWidth]="getSizeQualifier">
  <!-- Ảnh đại diện -->
  <dxi-item itemType="group" caption="Ảnh đại diện">
    <dxo-col-count-by-screen [xs]="1" [sm]="1" [md]="1" [lg]="1"></dxo-col-count-by-screen>
    <dxi-item class="uploader">
      <div *dxTemplate>
        <dx-file-uploader
          [multiple]="false"
          selectButtonText="Chọn ảnh"
          labelText="Ảnh đại diện"
          accept="image/*"
          uploadMode="useForm"
          (onValueChanged)="onValueChanged($event)">
        </dx-file-uploader>
      </div>
    </dxi-item>
  </dxi-item>

  <!-- Thông tin cơ bản -->
  <dxi-item itemType="group" caption="Thông tin cơ bản">
    <dxo-col-count-by-screen [xs]="1" [sm]="2" [md]="2" [lg]="3"></dxo-col-count-by-screen>

    <dxi-item>
      <dx-text-box
        [(value)]="newUser.code"
        [readOnly]="!isCreateMode"
        label="Mã nhân viên"
        stylingMode="outlined">
      </dx-text-box>

    </dxi-item>

    <dxi-item>
      <app-form-textbox label="Họ và tên" [(value)]="newUser.fullName" [isEditing]="true"
                        [validators]="[{ type: 'required' }]"></app-form-textbox>
    </dxi-item>

    <dxi-item>
      <dx-select-box
        [items]="lstPositions"
        valueExpr="positionCode"
        displayExpr="positionName"
        [(value)]="newUser.positionCode"
        [searchEnabled]="true"
        placeholder="Chọn chức vụ">
      </dx-select-box>
    </dxi-item>

    <dxi-item>
      <dx-select-box
        [items]="genderList"
        valueExpr="value"
        displayExpr="label"
        [(value)]="newUser.gender"
        [searchEnabled]="true"
        placeholder="Chọn giới tính">
      </dx-select-box>
    </dxi-item>

    <dxi-item>
      <app-form-textbox label="Nơi sinh" [(value)]="newUser.placeOfBirth" [isEditing]="true"
                        [validators]="[{ type: 'required' }]"></app-form-textbox>
    </dxi-item>

    <dxi-item>
      <dx-date-box
        [(value)]="newUser.dateOfBirth"
        (onValueChanged)="valueChanged($event)"
        label="Ngày sinh"
        id="birth-date"
        placeholder="Chọn ngày sinh..."
        [stylingMode]="stylingMode"
        displayFormat="dd/MM/yyyy"
      >
      </dx-date-box>

    </dxi-item>
  </dxi-item>

  <!-- Thông tin liên hệ -->
  <dxi-item itemType="group" caption="Thông tin liên hệ">
    <dxo-col-count-by-screen [xs]="1" [sm]="2" [md]="2" [lg]="3"></dxo-col-count-by-screen>

    <dxi-item>
      <app-form-textbox label="Số điện thoại" [(value)]="newUser.mobile" [isEditing]="true"></app-form-textbox>
    </dxi-item>

    <dxi-item>
      <app-form-textbox label="Email" [(value)]="newUser.email" [isEditing]="false"></app-form-textbox>
    </dxi-item>

    <dxi-item>
      <app-form-textbox label="Địa chỉ thường trú" [(value)]="newUser.permanentAddress" [isEditing]="true"></app-form-textbox>
    </dxi-item>

  </dxi-item>

  <!-- Thông tin tài chính -->
  <dxi-item itemType="group" caption="Thông tin tài chính">
    <dxo-col-count-by-screen [xs]="1" [sm]="2" [md]="2" [lg]="3"></dxo-col-count-by-screen>

    <dxi-item>
      <app-form-textbox label="Mã số thuế" [(value)]="newUser.taxCode" [isEditing]="true"></app-form-textbox>
    </dxi-item>

    <dxi-item>
      <app-form-textbox label="Số CMND/CCCD" [(value)]="newUser.identityNumber" [isEditing]="true"></app-form-textbox>
    </dxi-item>

    <dxi-item>
      <app-form-textbox label="Số tài khoản" [(value)]="newUser.accountNumber" [isEditing]="true"></app-form-textbox>
    </dxi-item>
  </dxi-item>
</dx-form>
