<nz-form-item [class.form-item__flex-row]="isFilterList">
  <ng-container *ngIf="!hideLabel">
    <app-label-vertical
      *ngIf="!labelHorizontal"
      [content]="labelContent"
      [required]="required"
    ></app-label-vertical>

    <app-label-horizontal
      [span]="24 - span"
      *ngIf="labelHorizontal"
      [for]="name"
      [content]="labelContent"
      [required]="required"
      [isFilterList]="isFilterList"
    ></app-label-horizontal>
  </ng-container>

  <nz-form-control [nzSpan]="labelHorizontal ? span : null" [nzErrorTip]="errorTip" [ngClass]="classWidth" [ngStyle]="ngStyleCus">
    <nz-time-picker
      class="w-100"
      [nzFormat]="format"
      [(ngModel)]="date"
      [formControl]="ngControl ? $any(ngControl.control) : formController"
      [nzDisabled]="disabled"
      [nzPlaceHolder]="placeHolder"
      (ngModelChange)="onChange($event)"
      [nzMinuteStep]="30"
      [nzSecondStep]="60"
    ></nz-time-picker>
  </nz-form-control>
</nz-form-item>
