
<div class="login-wrapper">
  <div class="login-card">
    <div class="icon-container">
      <img src="assets/images/logo.png" alt="logo" />
    </div>
    <h2 class="title">Hệ thống quản lý nhân sự</h2>

    <form [formGroup]="form" (ngSubmit)="login()">
      <label class="login-label">Đăng nhập bằng Email hoặc tài khoản đã tạo</label>
      <div *ngIf="isMeassgeError" class="text-danger" style="margin-top: 8px; text-align: center;">
        {{ meassgeError }}
      </div>
      <div class="field-group">
        <mat-form-field appearance="outline" class="full-width">
          <mat-icon matPrefix>person</mat-icon>
          <input matInput id="account" placeholder="Tài khoản" formControlName="account">
        </mat-form-field>
      </div>

      <div class="field-group">
        <mat-form-field appearance="outline" class="full-width">
          <mat-icon matPrefix>lock</mat-icon>
          <input [type]="hidePassword ? 'password' : 'text'" matInput id="password" placeholder="Mật khẩu" formControlName="password">
          <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" type="button">
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="button-group">
        <button mat-raised-button color="primary" type="submit">Đăng nhập</button>
        <a class="forgot-password" [routerLink]="'/auth/changePassword'">Forgot Password?</a>
      </div>
    </form>
  </div>
</div>
