<div class="modal-confirm">
  <nz-modal
    [(nzVisible)]="isVisible"
    [nzTitle]="nzModalTitle"
    nzFooter="nzModalFooter"
    [nzWidth]="nzWidth"
    [nzKeyboard]="true"
    (nzOnCancel)="handleCancelModal()"
    (nzAfterOpen)="openModal()"
  >
    <ng-template #nzModalTitle>
      <div [nz-tooltip]="titleTooltip">{{title}}</div>
    </ng-template>

    <ng-container *nzModalContent>
      <div class="modal-confirm__body">
        <div class="modal-confirm__contents">
          <span>{{ description }}</span>
        </div>
      </div>
    </ng-container>

    <div *nzModalFooter class="d-flex justify-content-center">
      <ng-container *ngIf="!hiddenBtnOK && !isCancelLeave">
        <app-button-cancel
          [isIcon]="true"
          [text]="textButtonCancel"
          [popConfirm]="false"
          (clickCancel)="handleCancelModal()"
        ></app-button-cancel>
      </ng-container>

      <ng-container *ngIf="isCancelLeave">
        <app-button-cancel
          [isIcon]="true"
          [text]="'Từ chối'"
          [popConfirm]="false"
          (clickCancel)="handleCancelModal()"
        ></app-button-cancel>
      </ng-container>

      <ng-container *ngIf="!isDelete && !isNotAllowedCreate">
        <app-button-confirm [text]="text" (clickConfirm)="handleOkModal()" [isEdit]="isEdit"></app-button-confirm>
      </ng-container>

      <ng-container *ngIf="isDelete" >
        <app-button-delete (clickDelete)="handleDelete()" [text]="text"></app-button-delete>
      </ng-container>
    </div>
  </nz-modal>
</div>
