<form *ngIf="createForm" nz-form [formGroup]="createForm" nzLayout="vertical">
  <div nz-row [nzGutter]="16">
    <!-- Mã chức danh -->
    <div nz-col [nzSpan]="12">
      <app-input-text-v2
        formControlName="positionCode"
        [required]="true"
        label="Mã chức vụ"
        [nzAllowClear]="true">
      </app-input-text-v2>
    </div>

    <!-- Tên chức danh -->
    <div nz-col [nzSpan]="12">
      <app-input-text-v2
        formControlName="positionName"
        [required]="true"
        label="Tên chức vụ"
        [nzAllowClear]="true">
      </app-input-text-v2>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <!-- Đơn vị (departmentCode) -->
    <div nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label [nzRequired]="true">Đơn vị</nz-form-label>
        <nz-form-control>
          <nz-select
            formControlName="departmentCode"
            [nzOptions]="lstDepartment"
            nzPlaceHolder="Chọn đơn vị"
            style="width: 100%"
            [nzShowSearch]="true"
            [nzAllowClear]="true">
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>

    <!-- Loại chức danh (positionCategory) -->
    <div nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label [nzRequired]="true">Loại chức danh</nz-form-label>
        <nz-form-control>
          <nz-select
            formControlName="positionCategory"
            [nzOptions]="lstPositionCategory"
            nzPlaceHolder="Chọn loại chức danh"
            style="width: 100%"
            [nzAllowClear]="true">
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div nz-row [nzGutter]="16">
    <!-- Cấp bậc (jobGroup) -->
    <div nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label>Nhóm công việc</nz-form-label>
        <nz-form-control>
          <nz-select
            formControlName="jobGroup"
            [nzOptions]="lstJobGroup"
            nzPlaceHolder="Chọn nhóm công việc"
            [nzAllowClear]="true"
            style="width: 100%">
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <!-- Mô tả -->
  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="24">
      <nz-form-item>
        <nz-form-control>
          <app-input-textarea-v2
            formControlName="positionDescription"
            [maxlength]="'5000'"
            label="Mô tả"
            [placeholder]="'Nhập mô tả chức vụ'"
            [ngClass]="'w-100'"
            [nzAllowClear]="true"
            [nzAutosize]="{ minRows: 2, maxRows: 10 }">
          </app-input-textarea-v2>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>


  <div *nzModalFooter>
    <div class="ng-star-inserted">
      <div class="modal__footer-wrapper d-flex justify-content-center">
        <app-button-cancel [isIcon]="true" [popConfirm]="false"
                           (clickCancel)="handleCancelModal()"></app-button-cancel>
        <app-button-save [loading]="isLoading" [isIcon]="true" [text]="isUpdate ? 'Cập nhật' : 'Thêm mới'"
                         (clickSave)="handleOkModal()"></app-button-save>
      </div>
    </div>
  </div>
</form>
