<div style="margin-top: 40px;">
  <form nz-form [formGroup]="createForm" (keyup.enter)="handleOkModal()">
    <div nz-row class="mt-2">
      <div nz-col nzSpan="24">
        <div nz-row>
          <app-input-text-v2 [ngClass]="{'w-100': true, 'disabled-button': isUpdate}"
                             formControlName="positionCode" [required]="true"
                             label="Mã chức vụ" nz-col nzSpan="24"
                             [isDisabled]="true"
                             [ngStyleCus] ="{'padding-left' : '50px'}"
                             [nzAllowClear]="true"></app-input-text-v2>
        </div>
        <div nz-row>
          <app-input-text-v2 [ngClass]="'w-100'" formControlName="positionName" [required]="true"
                             label="Tên chức vụ" nz-col nzSpan="24"
                             [ngStyleCus] ="{'padding-left' : '50px'}"
                             [nzAllowClear]="true"></app-input-text-v2>
        </div>
        <div nz-row>
          <nz-form-item nz-col nzSpan="24">
            <nz-form-control>
              <app-select [ngClass]="'w-100'" [data]="lstDepartment" [valueField]="'departmentId'"
                          [labelField]="'departmentName'"
                          [placeHolder]="'--Tất cả--'" [required]="true"
                          [openSearchModal]="false" [getObjectValue]="true"
                          [ngStyleCus] ="{'padding-left' : '30px'}"
                          [labelHorizontal]="false" formControlName="departmentId" labelContent="Tên phòng ban:">
              </app-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-row>
          <nz-form-item nz-col nzSpan="24">
            <nz-form-control>
              <app-input-textarea-v2 formControlName="positionDescription" [maxlength]="'5000'"
                                     label="Mô tả"
                                     [placeholder]="'Nhập khuyến mô tả chức vụ'"
                                     [ngClass]="'w-100'"
                                     [ngStyleCus] ="{'padding-left' : '100px'}"
                                     [nzAllowClear]="true" [nzAutosize]="{ minRows: 6, maxRows: 10 }">
              </app-input-textarea-v2>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-row>
          <nz-form-item nz-col nzSpan="24">
            <nz-form-control>
              <app-select [ngClass]="'w-100'" [data]="lstStatus" [valueField]="'id'" [placeHolder]="'--Tất cả--'"
                          [required]="true"
                          [labelField]="'name'" [openSearchModal]="false" [getObjectValue]="true"
                          [ngStyleCus] ="{'padding-left' : '60px'}"
                          [labelHorizontal]="false" formControlName="isActive" labelContent="Trạng thái:">
              </app-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </div>
  </form>
  <div *nzModalFooter>
    <div class="ng-star-inserted">
      <div class="modal__footer-wrapper d-flex justify-content-center">
        <app-button-cancel [isIcon]="true" [popConfirm]="false"
                           (clickCancel)="handleCancelModal()"></app-button-cancel>
        <app-button-save [loading]="isLoading" [isIcon]="true" [text]="isUpdate ? 'Cập nhật' : 'Thêm mới'"
                         (clickSave)="handleOkModal()"></app-button-save>
      </div>
    </div>
  </div>
</div>
