<div style="margin-top: 40px;">
  <form nz-form [formGroup]="createForm" (keyup.enter)="handleOkModal()">
    <div nz-row class="mt-2">
      <div nz-col nzSpan="24">
        <div nz-row>
          <app-input-text-v2 [ngClass]="{'w-100': true, 'disabled-button': isUpdate}"
                             formControlName="seatCode" [required]="true"
                             label="Mã vị trí" nz-col nzSpan="24"
                             [isDisabled]="true"
                             [ngStyleCus]="{'padding-left' : '50px'}"
                             [nzAllowClear]="true"></app-input-text-v2>
        </div>
        <div nz-row>
          <nz-form-item nz-col nzSpan="24">
            <nz-form-control>
              <app-select
                class="w-100"
                [data]="lstDepartment"
                [valueField]="'id'"
                [labelField]="'departmentName'"
                [placeHolder]="'--Tất cả--'"
                [required]="true"
                [openSearchModal]="false"
                [getObjectValue]="true"
                [ngStyleCus]="{'padding-left' : '30px'}"
                [labelHorizontal]="false"
                formControlName="departmentId"
                labelContent="Tên phòng ban:">
              </app-select>

            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-row>
          <nz-form-item nz-col nzSpan="24">
            <nz-form-control>
              <app-select
                class="w-100"
                [data]="lstPosition"
                [valueField]="'id'"
                [labelField]="'positionName'"
                [placeHolder]="'--Tất cả--'"
                [required]="true"
                [openSearchModal]="false"
                [getObjectValue]="true"
                [ngStyleCus]="{'padding-left' : '30px'}"
                [labelHorizontal]="false"
                formControlName="positionId"
                labelContent="Tên chức danh:">
              </app-select>

            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-row>
          <nz-form-item nz-col nzSpan="24">
            <nz-form-control>
              <app-input-textarea-v2 formControlName="positionDescription" [maxlength]="'5000'"
                                     label="Mô tả"
                                     [placeholder]="'Nhập khuyến mô tả chức vụ'"
                                     [ngClass]="'w-100'"
                                     [ngStyleCus]="{'padding-left' : '100px'}"
                                     [nzAllowClear]="true" [nzAutosize]="{ minRows: 2, maxRows: 10 }">
              </app-input-textarea-v2>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </div>
  </form>
  <div *nzModalFooter>
    <div class="ng-star-inserted">
      <div class="modal__footer-wrapper d-flex justify-content-center">
        <app-button-cancel [isIcon]="true" [popConfirm]="false"
                           (clickCancel)="handleCancelModal()"></app-button-cancel>
        <app-button-save [loading]="isLoading" [isIcon]="true" [text]="isUpdate ? 'Cập nhật' : 'Thêm mới'"
                         (clickSave)="handleOkModal()"></app-button-save>
      </div>
    </div>
  </div>
</div>
