button{
    display: flex;
    justify-content: center;
    align-items: center;
}
#btnCreate {
  background-color: #3579c2; /* màu nền tùy chọn */
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  transition: 0.3s ease;

  &:hover {
    background-color: #2259a9;
  }
}
