<div class="ant-breadcrumb-custom">
  <nz-breadcrumb>
    <nz-breadcrumb nzSeparator=">">
      <nz-breadcrumb-item><a [routerLink]="'/dashboard'">Trang chủ</a></nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a>Quản lý tài khoản</a>
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </nz-breadcrumb>
</div>
<nz-collapse nzExpandIconPosition="right">
  <nz-collapse-panel
    nzHeader="Điều kiện tìm kiếm"
    [nzActive]="searchActive"
  >
    <form
      nz-form
      nzLayout="vertical"
    >
      <div nz-row nzGutter="60">
<!--        <div nz-col nzSpan="6">-->
<!--          <nz-form-item>-->
<!--            <nz-form-label >Tên nhân viên</nz-form-label>-->
<!--            <nz-form-control  nzErrorTip="Please input your username!">-->
<!--              <input nz-input placeholder="" />-->
<!--            </nz-form-control>-->
<!--          </nz-form-item>-->
<!--        </div>-->
        <div nz-col nzSpan="6">
          <nz-form-item>
            <nz-form-label >Email</nz-form-label>
            <nz-form-control  nzErrorTip="Please input your Password!">
              <input nz-input placeholder="" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="6">
          <nz-form-item>
            <nz-form-label>Trạng thái</nz-form-label>
            <nz-form-control  nzErrorTip="Please input your Password!">
              <input nz-input placeholder="" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="6">
          <nz-form-item>
            <nz-form-label>Trạng thái kích hoạt</nz-form-label>
            <nz-form-control  nzErrorTip="Please input your Password!">
              <input nz-input placeholder="" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzOffset="9" nzSpan="6">
          <div nz-row nzGutter="30">
            <div nz-col>
              <nz-form-item>
                <nz-form-control>
                  <button nz-button nzType="primary"><i class="fa-solid fa-rotate-left" style="margin-right: 7px;"></i> Nhập lại</button>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col>
              <nz-form-item>
                <nz-form-control>
                  <button nz-button nzType="primary"><i class="fa-solid fa-magnifying-glass" style="margin-right: 7px;"></i>Tìm kiếm</button>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </div>
      </div>
    </form>
  </nz-collapse-panel>
</nz-collapse>
<nz-collapse nzExpandIconPosition="right" style="margin-top: 10px">
  <nz-collapse-panel
    nzHeader="Kết quả tìm kiếm"
    [nzActive]="resultActive"
  >
    <nz-table
      #sortTable
      nzSize="small"
      nzBordered
      [nzData]="tableData"
      [nzFrontPagination]="false"
      [nzLoading]="tableLoading"
      [nzShowSizeChanger]="true"
      [nzTotal]="pagination.total"
      [nzPageIndex]="pagination.current + 1"
      [nzPageSize]="pagination.pageSize"
      [nzPageSizeOptions]="[10, 15, 20]"
      [nzScroll]="{ x: 'maxContent'}"
      (nzPageIndexChange)="handlePageIndexChange($event)"
      (nzPageSizeChange)="handlePageSizeChange($event)"
    >
      <thead>
      <tr>
        <th nzWidth="70px" style="text-align: center">STT</th>
        <th *ngFor="let column of columns" [nzSortFn]="column.compare" [nzWidth]="column.width" style="text-align: center">
          {{ column.title }}
        </th>
        <th nzWidth="140px" style="text-align: center">Hành động</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of sortTable.data; let i = index">
        <td style="text-align: center">{{pagination.current * pagination.pageSize + i + 1}}</td>
        <td style="text-align: center">{{ data.email}}</td>
        <td style="text-align: center">{{ data.status === 1 ? 'Hoạt động' : 'Không hoạt động'}}</td>
        <td style="text-align: center">{{ data.active === 1 ? 'Kích hoạt' : 'Chưa kích hoạt'}}</td>
        <td style="text-align: center">{{ data.roles }}</td>
        <td style="text-align: center">{{ data.createdDate | date: 'dd/MM/yyyy'}}</td>
        <td>
          <div nz-row nzGutter="16" nzJustify="center">
            <div nz-col>
<!--              <span nz-tooltip nzTooltipTitle="Cập nhật">-->
<!--                <span nz-icon nzType="edit" nzTheme="outline" style="cursor: pointer; color: red"></span>-->
<!--              </span>-->
              <app-button-icon class="action__margin" [isEdit] = "true"
                               [tooltipTitle]="'Cập nhật tài khoản'"
                               [loading]="isLoading"
                               (clickAction)="openUpdateModal(data)"></app-button-icon>
            </div>
            <div nz-col>
                <span nz-tooltip nzTooltipTitle="Cấu hình chi tiết">
                  <span nz-icon nzType="control" nzTheme="outline" style="cursor: pointer; color: red" ></span>
                </span>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </nz-collapse-panel>
</nz-collapse>
