<div class="ant-breadcrumb-custom">
  <nz-breadcrumb>
    <nz-breadcrumb nzSeparator=">">
      <nz-breadcrumb-item><a [routerLink]="'/dashboard'">Trang chủ</a></nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a>Quản lý tài khoản</a>
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </nz-breadcrumb>
</div>
<nz-collapse nzExpandIconPosition="right">
  <nz-collapse-panel nzHeader="Thông tin tìm kiếm" [nzActive]="searchActive">
    <form nz-form [formGroup]="searchForm" nzLayout="vertical" (keyup.enter)="nzOnSearch()">
      <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }">
        <div nz-col [nzSm]="24" [nzMd]="8" [nzLg]="8">
          <nz-form-item>
            <nz-form-control>
              <app-input-text-v2
                formControlName="keyword"
                label="Tìm kiếm"
                [maxlength]="'255'"
                [nzAllowClear]="true"
              ></app-input-text-v2>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </nz-collapse-panel>
</nz-collapse>
<nz-collapse nzExpandIconPosition="right" style="margin-top: 10px">
  <nz-collapse-panel
    nzHeader="Kết quả tìm kiếm"
    [nzActive]="resultActive"
  >
    <nz-tabset [(nzSelectedIndex)]="currentTabIndex" (nzSelectedIndexChange)="onTabChange($event)">
      <nz-tab nzTitle="Hoạt động"></nz-tab>
      <nz-tab nzTitle="Khóa"></nz-tab>
    </nz-tabset>
    <nz-table
      #sortTable
      nzSize="small"
      nzBordered
      [nzData]="tableData"
      [nzFrontPagination]="false"
      [nzLoading]="tableLoading"
      [nzShowSizeChanger]="true"
      [nzPageSizeOptions]="[10, 15, 20]"
      [nzScroll]="{ x: 'maxContent'}"
    >
      <thead>
      <tr>
        <th nzWidth="70px" style="text-align: center">STT</th>
        <th nzWidth="200px" style="text-align: center">Mã nhân viên</th>
        <th nzWidth="200px" style="text-align: center">Họ và tên</th>
        <th nzWidth="250px" style="text-align: center">Email</th>
        <th nzWidth="200px" style="text-align: center">Phòng ban</th>
        <th nzWidth="200px" style="text-align: center">Chức vụ</th>
        <th nzWidth="140px" style="text-align: center">Quyền</th>
        <th nzWidth="140px" style="text-align: center">Trạng thái</th>
        <th nzWidth="140px" style="text-align: center">Ngày tạo</th>
        <th nzWidth="140px" style="text-align: center">Hành động</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of sortTable.data; let i = index">
        <td style="text-align: center">{{ (request.currentPage * request.pageSize) + i + 1 }}</td>
        <td style="text-align: center">{{ data.employeeCode }}</td>
        <td style="text-align: center">{{ data.fullName }}</td>
        <td style="text-align: center">{{ data.email }}</td>
        <td style="text-align: center">{{ data.departmentName }}</td>
        <td style="text-align: center">{{ data.positionName }}</td>
        <td style="text-align: center">
          {{ getRoleNames(data.role) }}
        </td>
        <td style="text-align: center">{{ data.status === 1 ? 'Hoạt động' : 'Khóa' }}</td>
        <td style="text-align: center">{{ data.createdDate | date: 'dd/MM/yyyy' }}</td>
        <td>
          <div nz-row nzGutter="16" nzJustify="center">
            <div nz-col>
              <app-button-icon
                class="action__margin"
                [isEdit]="true"
                [tooltipTitle]="'Cập nhật tài khoản'"
                [loading]="isLoading"
                (clickAction)="openUpdateModal(data)">
              </app-button-icon>

              <app-button-icon
                *ngIf="currentTabIndex === 0"
                class="action__margin"
                [isLock]="true"
                [tooltipTitle]="'Khóa tài khoản'"
                (click)="openModalDelete(data)">
              </app-button-icon>

              <app-button-icon
                *ngIf="currentTabIndex === 1"
                class="action__margin"
                [isUnlock]="true"
                [tooltipTitle]="'Mở khóa tài khoản'"
                (click)="openModalDelete(data)">
              </app-button-icon>

            </div>

          </div>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </nz-collapse-panel>
  <app-modal-confirm
    [title]="modalTitle"
    [isVisible]="isVisibleModalDelete"
    [textButtonCancel]="'Hủy'"
    [text]="'Đồng ý'"
    [isConfirm]="true"
    [description]="message"
    (callBack)="callBackModalDelete()"
    (clickCancel)="onCancelModalDelete()">
  </app-modal-confirm>

</nz-collapse>
