<div class="ant-breadcrumb-custom">
  <nz-breadcrumb>
    <nz-breadcrumb nzSeparator=">">
      <nz-breadcrumb-item><a [routerLink]="'/dashboard'">Trang chủ</a></nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a>Quản lý tài khoản</a>
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </nz-breadcrumb>
</div>
<nz-collapse nzExpandIconPosition="right">
  <nz-collapse-panel nzHeader="Điều kiện tìm kiếm" [nzActive]="searchActive">
    <form nz-form [formGroup]="searchForm" nzLayout="vertical" (keyup.enter)="nzOnSearch()">
      <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }">
        <div nz-col [nzSm]="24" [nzMd]="8" [nzLg]="8">
          <nz-form-item>
            <nz-form-control>
              <app-input-text-v2
                formControlName="keyword"
                label="Tìm kiếm"
                [maxlength]="'255'"
                [nzAllowClear]="true"
              ></app-input-text-v2>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </nz-collapse-panel>
</nz-collapse>
<nz-collapse nzExpandIconPosition="right" style="margin-top: 10px">
  <nz-collapse-panel
    nzHeader="Kết quả tìm kiếm"
    [nzActive]="resultActive"
  >
    <nz-tabset [(nzSelectedIndex)]="currentTabIndex" (nzSelectedIndexChange)="onTabChange($event)">
      <nz-tab nzTitle="Hoạt động"></nz-tab>
      <nz-tab nzTitle="Khóa"></nz-tab>
    </nz-tabset>
    <nz-table
      #sortTable
      nzSize="small"
      nzBordered
      [nzData]="tableData"
      [nzFrontPagination]="false"
      [nzLoading]="tableLoading"
      [nzShowSizeChanger]="true"
      [nzPageSizeOptions]="[10, 15, 20]"
      [nzScroll]="{ x: 'maxContent'}"
    >
      <thead>
      <tr>
        <th nzWidth="70px" style="text-align: center">STT</th>
        <th *ngFor="let column of columns" [nzSortFn]="column.compare" [nzWidth]="column.width" style="text-align: center">
          {{ column.title }}
        </th>
        <th nzWidth="140px" style="text-align: center">Hành động</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of sortTable.data; let i = index">
        <td style="text-align: center">{{(request.currentPage * request.pageSize) + i + 1}}</td>
        <td style="text-align: center">{{ data.email}}</td>
        <td style="text-align: center">{{ data.status === 1 ? 'Hoạt động' : 'Không hoạt động'}}</td>
        <td style="text-align: center">{{ data.active === 1 ? 'Kích hoạt' : 'Chưa kích hoạt'}}</td>
        <td style="text-align: center">{{ data.roles }}</td>
        <td style="text-align: center">{{ data.createdDate | date: 'dd/MM/yyyy'}}</td>
        <td>
          <div nz-row nzGutter="16" nzJustify="center">
            <div nz-col>
<!--              <span nz-tooltip nzTooltipTitle="Cập nhật">-->
<!--                <span nz-icon nzType="edit" nzTheme="outline" style="cursor: pointer; color: red"></span>-->
<!--              </span>-->
              <app-button-icon class="action__margin" [isEdit] = "true"
                               [tooltipTitle]="'Cập nhật tài khoản'"
                               [loading]="isLoading"
                               (clickAction)="openUpdateModal(data)"></app-button-icon>
            </div>
            <div nz-col>
                <span nz-tooltip nzTooltipTitle="Cấu hình chi tiết">
                  <span nz-icon nzType="control" nzTheme="outline" style="cursor: pointer; color: red" ></span>
                </span>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </nz-collapse-panel>
</nz-collapse>
