
:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

.view-wrapper {
  padding: 0 35px 35px 35px;
}

.cards {
  display: grid;
  width: 100%;
  gap: 20px;
  grid-template-columns: repeat(2, calc(50% - 10px));
  margin-top: 20px;
  &.grey {
    margin: 20px 0;
    grid-template-columns: repeat(4, calc(25% - 15px));

    ::ng-deep .card {
      background-color: var(--side-panel-background);
      border: none;
      height: 120px;

      ::ng-deep {
        .dx-button {
          background-color: var(--side-panel-background);
        }

        .content {
          height: auto;
        }
      }
    }

    ::ng-deep .dx-loadpanel-indicator {
      width: 24px;
      height: 24px;
    }
  }
}

@media only screen and (max-width: 1400px) {
  .cards.grey {
    grid-template-columns: repeat(2, calc(50% - 10px));
  }
}

@media only screen and (max-width: 900px) {
  .cards {
    grid-template-columns: repeat(1, 100%);
  }
}

@media only screen and (max-width: 700px) {
  .cards.grey {
    grid-template-columns: repeat(1, 100%);
  }
}

.sales-pie,
.sales-bars {
  display: inline-block;
  height: 100%;
}

.sales-pie {
  width: 400px;
}

.sales-bars {
  width: calc(100% - 600px);
}

@media only screen and (max-width: 600px) {
  .sales-pie,
  .sales-bars {
    display: block;
  }

  .sales-pie {
    width: 320px;
  }

  .sales-bars {
    width: 320px;
  }
}
