<app-card-analytics titleText="Tổng quan dự án công ty" contentClass="sales-by-state grid">
    <dx-data-grid
            [dataSource]="data"
            [height]="290"
            [width]="670"
            [loadPanel]="{ enabled: false }"
    >
        <dxi-column caption="Dự án"
                    dataField="projectName"
                    [width]="100"
        > </dxi-column>

        <dxi-column
                alignment="left"
                caption="Tổng nhiệm vụ"
                dataField="numberOfTasks"
                dataType="number"
                sortOrder="desc"
                [hidingPriority]="1"
                [width]="150"
        >
        </dxi-column>

        <dxi-column
                alignment="left"
                caption="Số nhiệm vụ hoàn thành"
                dataField="numberOfTasksDone"
                dataType="number"
                [hidingPriority]="1"
                [width]="200"
        >
        </dxi-column>

        <dxi-column
                alignment="left"
                caption=" "
                dataField="percentage"
                name="percentB"
                cellTemplate="salesBullet"
                cssClass="sales-bullet"
                [width]="200"
        >
        </dxi-column>

        <div *dxTemplate="let cellInfo of 'salesBullet'">
            <dx-bullet
                    [showTarget]="false"
                    [showZeroLevel]="false"
                    [value]="cellInfo.data.percentage * 100"
                    [startScaleValue]="0"
                    [endScaleValue]="150"
            >
                <dxo-tooltip [enabled]="false"></dxo-tooltip>
                <dxo-size [width]="150" [height]="20"></dxo-size>
            </dx-bullet>
        </div>
    </dx-data-grid>
</app-card-analytics>
