<nz-form-item>
  <nz-form-label [nzRequired]="required"
                 [nzFor]="ngControl.name === 'string' ? ngControl.name : undefined && ngControl.name !== null"
                 [hidden]="hiddenLabel">{{label}}</nz-form-label>
  <nz-form-control [nzErrorTip]="combineTpl" [ngStyle]="ngStyleCus">
    <nz-input-group [nzSize]="nzSize" [nzSuffix]="inputClearTpl">
      <input
        #inputRef
        nz-input
        [type]="typeInput"
        [formControl]="ngControl ? $any(ngControl.control) : formController"
        [placeholder]="placeHolder"
        [disabled]="isDisabled"
        (focus)="onFocus(inputRef.value)"
        (blur)="onBlur(inputRef.value)"
        (keydown)="onChange(inputRef.value)"
        (keyup)="onChange(inputRef.value)"
        no-space
        [ngClass]="ngClass"
        [max]="numberMax"
        (input)="checkMaxValue($event)"
      />
      <ng-template #inputClearTpl>
        <i *ngIf="inputRef.value && isFocused && nzAllowClear"
           nz-icon
           class="ant-input-clear-icon"
           nzTheme="fill"
           nzType="close-circle"
           (mousedown)="onClear(); inputRef.value = ''"></i>
      </ng-template>
    </nz-input-group>
    <ng-template #combineTpl let-control>
      <app-inline-message [formController]="control"
                          [field]="label || controlName || ngControl.name "
                          [field2]="label2"
      ></app-inline-message>
    </ng-template>
  </nz-form-control>
</nz-form-item>
