<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="default" color="#3ec995"
             type="line-scale" [fullScreen]="false"><p style="color: white"> Đang tải... </p>
</ngx-spinner>
<div class="centered-div d-flex">
  <mat-card class="containner animate__animated animate__fadeInRight" style="padding: 0">
    <mat-card-title style="display: flex; justify-content: center; background-color: white">
      <div class="wrapper__logo">
        <p style="margin: 0px; font-weight: bold;  text-transform: uppercase; margin-top: 20px;">N-Office</p>
        <p style="font-size: 15px;">HỆ THỐNG QUẢN LÝ VĂN PHÒNG ĐIỆN TỬ</p>
      </div>
    </mat-card-title>
    <mat-card>
      <mat-card-title style="color: #FFFFFF">Đổi mật khẩu</mat-card-title>
      <mat-card-content *ngIf="isTabOne">
        <form [formGroup]="formGmail" (ngSubmit)="verifyEmailFormSubmit()">
          <p>
            <mat-form-field>
              <input type="email" matInput placeholder="Email" formControlName="email" style="color: #F0F0F0; font-size: 17px;">
            </mat-form-field>
          </p>
          <div *ngIf="formGmail.controls['email'].errors && (formGmail.controls['email'].dirty || formGmail.controls['email'].touched)">
            <div *ngIf="formGmail.controls['email'].errors['required']">
              <p style="color: #d70303; text-align: left; font-size: 12px; margin-top: -25px;">Email không được để trống!</p>
            </div>
            <div *ngIf="formGmail.controls['email'].errors['email']">
              <p style="color: #D70303FF; text-align: left; font-size: 12px; margin-top: -25px;">Sai định dạng email!</p>
            </div>
          </div>
          <p *ngIf="isMessageError" class="error" style="color: #fff;">
            <i class="fa-solid fa-triangle-exclamation" style="margin-right: 7px;"></i>{{ messageError }}
          </p>

          <div class="button d-flex justify-content-between">
            <a style="color: #03a9f4; margin-top: 15px;" [routerLink]="'/auth/login'">Đăng nhập</a>
            <button type="submit" [disabled]="!formGmail.valid" mat-button style="color: #FFFFFF; background-color: #181818">Gửi mã xác nhận</button>
          </div>

        </form>
      </mat-card-content>
      <mat-card-content *ngIf="isTabTwo">
        <form [formGroup]="formCodeConfirm" (ngSubmit)="verifyFormSubmit()">
          <p>
            <mat-form-field>
              <input type="text" matInput placeholder="Nhập mã xác nhận" formControlName="code" style="color: #F0F0F0; font-size: 20px;">
            </mat-form-field>
          </p>

          <p *ngIf="isMessageErrorTwo" class="error" style="color: #fff;">
            <i class="fa-solid fa-triangle-exclamation" style="margin-right: 7px;"></i>{{ messageErrorTwo }}
          </p>

          <div class="button d-flex justify-content-between">
            <a style="color: #03a9f4; margin-top: 15px;" (click) = "onChangeTab()">Quay lại</a>
            <button type="submit" [disabled]="!formCodeConfirm.valid" mat-button style="color: #FFFFFF; background-color: #181818">Xác nhận</button>
          </div>

        </form>
      </mat-card-content>
      <mat-card-content *ngIf="isTabThree">
        <form [formGroup]="formChangePasswordConfirm" (ngSubmit)="verifyFormChangePasswordSubmit()">
          <p class="d-flex">
            <mat-form-field>
              <input [type]="hidePassword ? 'password' : 'text'" matInput placeholder="Mật khẩu mới" formControlName="password" style="color: #F0F0F0; font-size: 20px;">
            </mat-form-field>
            <button (click)="togglePasswordVisibility()" class="cl-button">
              <i class="fa-solid " [ngClass]="{ 'fa-eye': hidePassword, 'fa-eye-slash': !hidePassword }"></i>
            </button>
          </p>
          <p class="d-flex">
            <mat-form-field>
              <input [type]="hidePassword ? 'password' : 'text'" matInput placeholder="Nhập lại mật khẩu" formControlName="confirmPassword" style="color: #F0F0F0; font-size: 20px;">
            </mat-form-field>
            <button (click)="togglePasswordVisibility()" class="cl-button">
              <i class="fa-solid " [ngClass]="{ 'fa-eye': hidePassword, 'fa-eye-slash': !hidePassword }"></i>
            </button>
          </p>

          <p *ngIf="isMessageErrorThree" class="error" style="color: #fff;">
            <i class="fa-solid fa-triangle-exclamation" style="margin-right: 7px;"></i>{{ messageErrorThree }}
          </p>

          <div class="button d-flex justify-content-between">
            <a style="color: #03a9f4; margin-top: 15px;" (click) = "onChangeTab()">Quay lại</a>
            <button type="submit" [disabled]="!formChangePasswordConfirm.valid" mat-button style="color: #FFFFFF; background-color: #181818">Xác nhận</button>
          </div>

        </form>
      </mat-card-content>
    </mat-card>
  </mat-card>
  <mat-card class="containner animate__animated animate__fadeInLeft" style="padding: 0">
    <mat-card-title style="display: flex; justify-content: center; background-color: white; height: 100%;">
      <div class="wrapper__image">
        <img src="assets/images/logoNodoJscBothText.jpg" alt="">
      </div>
    </mat-card-title>
  </mat-card>
</div>
<div class="wrapper-footer-text animate__animated animate__fadeInDown">
  <p style="margin: 0;">Địa chỉ: Phòng 1501, VNTower,19 Nguyễn Trãi, Thanh Xuân, Hà Nội</p>
  <p>Website: http://nodo.vn/ , Telephone: (+84) 462.932.083, Email: hotro@nodo.vn</p>
</div>
