
<div class="password-wrapper">
  <div class="password-card">
    <div class="icon-container">
      <img src="assets/images/logo.png" alt="logo" />
    </div>
    <h2 class="title">Đổi mật khẩu</h2>
    <form  [formGroup]="formChangePasswordConfirm" (ngSubmit)="verifyFormChangePasswordSubmit()">
      <mat-form-field appearance="outline" class="full-width" floatLabel="always">
        <mat-icon matPrefix>person</mat-icon>
        <input type="text" matInput placeholder="Tên đăng nhập" formControlName="account">
      </mat-form-field>
      <div class="validation-error" *ngIf="formUsername.controls['account'].errors && (formUsername.controls['account'].dirty || formUsername.controls['account'].touched)">
        <div *ngIf="formUsername.controls['account'].errors?.['required']">Tên đăng nhập không được để trống!</div>
      </div>
      <mat-form-field appearance="outline" class="full-width" floatLabel="always">
        <mat-icon matPrefix>lock</mat-icon>
        <input [type]="hidePassword ? 'currentPassword' : 'text'" matInput placeholder="Mật khẩu cũ" formControlName="currentPassword">
        <button mat-icon-button matSuffix type="button" (click)="togglePasswordVisibility()">
          <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width" floatLabel="always">
        <mat-icon matPrefix>lock</mat-icon>
        <input [type]="hidePassword ? 'newPassword' : 'text'" matInput placeholder="Mật khẩu mới" formControlName="newPassword">
        <button mat-icon-button matSuffix type="button" (click)="togglePasswordVisibility()">
          <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width" floatLabel="always">
        <mat-icon matPrefix>lock</mat-icon>
        <input [type]="hidePassword ? 'confirmNewPassword' : 'text'" matInput placeholder="Nhập lại mật khẩu" formControlName="confirmNewPassword">
        <button mat-icon-button matSuffix type="button" (click)="togglePasswordVisibility()">
          <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>

      <div *ngIf="isMessageErrorThree" class="form-error">
        <mat-icon>error</mat-icon> {{ messageErrorThree }}
      </div>

      <div class="button-group">
        <a class="login" [routerLink]="'/auth/login'">Đăng nhập</a>
        <button mat-raised-button color="primary" type="submit" [disabled]="!formChangePasswordConfirm.valid">Xác nhận</button>
      </div>
    </form>
  </div>
</div>
