<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="default" color="#3579c2"
             type="line-scale" [fullScreen]="false"><p style="color: white"> Đang tải... </p>
</ngx-spinner>
<div class="ant-breadcrumb-custom">
  <nz-breadcrumb>
    <nz-breadcrumb nzSeparator=">">
      <nz-breadcrumb-item>
        <a>Quản lý công việc</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a>Danh sách công việc</a>
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </nz-breadcrumb>
</div>
<div class="view-wrapper list-page crm-contact-list">

  <!-- Thanh công cụ -->
  <div class="grid-header mb-2" style="display: flex; justify-content: space-between; align-items: center;">
    <div>
      <i class="fa-solid fa-list-check" style="margin-right: 7px;"></i>
      <strong style="font-size: 18px;">Tổng hợp công việc</strong>
    </div>
    <div style="display: flex; gap: 10px;">
      <app-button-export appCheckAuthorize (clickExport)="onExporting($event)" [buttonClass]="'css-box-shadow'"></app-button-export>
      <app-button-create appCheckAuthorize (clickCreate)="onCreateTask()" [loading]="isLoading"></app-button-create>
    </div>
  </div>

  <!-- Tìm kiếm nâng cao -->
  <form [formGroup]="searchForm" (keyup.enter)="nzOnSearch()">
    <div nz-col [nzSm]="8" [nzMd]="8" [nzLg]="8">
      <nz-form-item>
        <nz-form-control>
          <app-input-text-v2
            formControlName="keyword"
            label="Tìm kiếm"
            [maxlength]="'255'"
            [nzAllowClear]="true"
          ></app-input-text-v2>
        </nz-form-control>
      </nz-form-item>
    </div>
  </form>



  <!-- Tabs -->
  <nz-tabset [(nzSelectedIndex)]="currentTabIndex" (nzSelectedIndexChange)="onTabChange($event)" style="margin-bottom: 15px;">
    <nz-tab nzTitle="Cần làm"></nz-tab>
    <nz-tab nzTitle="Đang xử lý"></nz-tab>
    <nz-tab nzTitle="Hoàn thành"></nz-tab>
  </nz-tabset>

  <!-- DataGrid -->
  <dx-data-grid
    class="grid theme-dependent"
    noDataText=""

    height="100%"
    keyExpr="id"
    [dataSource]="lstData"
    [allowColumnReordering]="true"
    [focusedRowEnabled]="true"
    [showBorders]="true"
    [(focusedRowKey)]="userId"
    (onRowClick)="rowClick($event)"
  >

    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-sorting mode="multiple"></dxo-sorting>
    <dxo-selection mode="multiple" showCheckBoxesMode="always"></dxo-selection>

    <dxi-column dataField="taskCode" caption="Mã công việc" [minWidth]="150" sortOrder="desc"></dxi-column>
    <dxi-column dataField="taskName" caption="Tên công việc" [minWidth]="150"></dxi-column>
    <dxi-column dataField="projectName" caption="Tên dự án" [minWidth]="100"></dxi-column>
    <dxi-column dataField="employeeName" caption="Người thực hiện" [minWidth]="100"></dxi-column>
    <dxi-column dataField="managerName" caption="Quản lý" [minWidth]="100"></dxi-column>
    <dxi-column
      dataField="taskStatus"
      caption="Trạng thái"
      [minWidth]="150"
      [lookup]="{
    dataSource: lstTaskStatus,
    valueExpr: 'code',
    displayExpr: 'name'
  }"
    ></dxi-column>
    <dxi-column dataField="startDay" caption="Từ ngày" [minWidth]="150"></dxi-column>
    <dxi-column dataField="endDay" caption="Đến ngày" [minWidth]="150"></dxi-column>
    <dxi-column
      dataField="priority"
      caption="Độ ưu tiên"
      [minWidth]="100"
      [lookup]="{
    dataSource: lstPriority,
    valueExpr: 'code',
    displayExpr: 'name'
  }"
    ></dxi-column>

  </dx-data-grid>
</div>
